<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR | <%= title %></title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.css" media="screen">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
    <style>
        body{
          margin: 0 !important; padding: 0 !important;
        }
    </style>

</head>