<!DOCTYPE html>
<html lang="en">
 <!--navbar-->
 <%- include('./partials/head')%>
<body>
    <!--navbar-->
    <%- include('./partials/nav')%>

      <div class="jumbotron text-center">
        <h1 class="display-3">Submit A Request</h1>
        <p>You can submit a report of honest act display by someone you know and we look into it</p>
      </div>

      <div class="container py-5" style="background:lightgray ">
          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                  <h3>Honest Men Request Submission Form</h3>
                  <hr>
                  <form action="" method="post"   class="p-2">

                    <div class="form-group">
                        <label class="col-form-label col-form-label-lg" for="inputLarge">FullName</label>
                        <input class="form-control form-control-lg" type="text" placeholder="FullName of the proposed Honest man" id="fullname">
                      </div>
                      <div class="form-group">
                        <label class="col-form-label col-form-label-lg" for="inputLarge">When did this event occured</label>
                        <input class="form-control form-control-lg" type="date"  id="date">
                      </div>

                      <div class="form-group">
                        <label class="col-form-label col-form-label-lg" for="inputLarge">Caption The Event</label>
                        <input class="form-control form-control-lg" type="text" placeholder="What title fit this event" id="title">
                      </div>

                      <div class="form-group">
                        <label for="exampleTextarea">Details of the Event</label>
                        <textarea class="form-control" id="event" rows="3"></textarea>
                      </div>
                      
                      <button type="submit" class="btn btn-primary">Submit Request</button>
                  </form>
              </div>
          </div>
      </div>
      <%- include('./partials/footer')%>

</body>
</html>