<!DOCTYPE html>
<html lang="en">
 <!--navbar-->
 <%- include('./partials/head')%>
 <body>
    <!--navbar-->
    <%- include('./partials/nav')%>

      <div class="jumbotron">
        <h1 class="display-3">A world of Honest Men</h1>
        <p class="lead">Honesty is a rare virtue nowdays, men will rather be tagged 'rich' rather than been tagged 'honest'</p>
        <hr class="my-4">
        <p>We know there are still honest men in the world, no matter how rare they are and we are here to celebrate them</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
         
        </p>
      </div>
      <%- include('./partials/footer')%>
</body>
</html>