<!DOCTYPE html>
<html lang="en">
 <!--navbar-->
 <%- include('./partials/head')%>
<body>
    <!--navbar-->
    <%- include('./partials/nav')%>

      <div class="jumbotron">
        <h1 class="display-3">Terms and Condition</h1>
        <p>Kindly go through our terms and condition that guide this website and our api</p>
      </div>
      <%- include('./partials/footer')%>
</body>
</html>